.background {
    background-color: #2A2E37;
}


.title {
    color: lavender;
}

.name-style {
    margin-top: 20px;
    color: lavender;
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bio-style {
    color: rgb(140, 140, 223);
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    margin-left: 595px;
    border-radius: 50%;
    margin-top: 100px;
    margin-bottom: 40px;
    width: 250px;
    height: 250px;
}

.text {
    color: rgb(140, 140, 223);
    text-align: center;
}

.joined-title {
    float: left;
    margin-left: 250px;
    color: lavender;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.joined-text {
    float: left;
    margin-left: 20px;
    color: rgb(194, 146, 195);
    text-align: center;
    margin-bottom: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.stats-title {
    float: left;
    margin-left: 40px;
    color: lavender;
    margin-top: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.stats-text {
    float: left;
    text-align: center;
    color: rgb(194, 146, 195);
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

